.section {
    margin: auto;
    width: 80%; 
    /* outline: 1px solid red;  */
}

.header {
    font-size: 3em; 
    text-align: center;
    margin: 20px 0;
}

.prompt-txt {
    width: 80%;
    height: 35px; 
    margin: 0 auto 10px;
    display: block;
}

.prompt-txt.places {
    height: 300px; 
}

.result {
    margin: 20px auto; 
    width: 80%; 
}